body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #104e8b;
  height: 100%;
  font-family: sans-serif;
}

.containerLeft {
  display: flex;
  max-width: 1200px;
  max-height: 850px;
  justify-content: space-evenly;
  background-color: #f5fffa;
  border-radius: 25px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.appOne {
  background: url(./assets/images/bgMaps.jpg) no-repeat 50% 40% / cover;
  width: 50%;
  height: 100vh;
  border-radius: 25px 0px 0px 25px;
  max-height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button_item {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.appTwo {
  width: 50%;
  height: 100vh;
  max-height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerRight {
  box-shadow: 0px 1px 4px 0px #cdc3c3;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: white;
  width: 500px;
  border-radius: 5px;
  padding: 20px;
}

.today {
  text-align: center;
}

.BoxLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-right: 1px solid darkgray;
}

.BoxRight {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  width: 40%;
  color: darkgray;
}

.searchBox {
  display: flex;
  position: relative;
  width: 220px;
  height: 35px;
  margin: 0 auto;
}

.icon {
  width: 100px;
  height: 100px;
}
